    /* common share style  */
body{
    font-family: 'Open Sans', sans-serif;
}
p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
    /* class share style  */
.paragraph-1{
    padding: 0px 140px 0px 0px;
    height: 90px;
    width: 630px;
    margin-bottom: 70px;
}
.btn-primary{
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
}
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 50px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-pic{
    height: 800px;
    width: 635px;
}
.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 700;
}
.paragraph-2{
    padding: 0px 500px 0px 500px;
}
#tell{
    margin-top: -20px;
    margin-bottom: -20px;
}
.featured{
    text-align: center;
    margin-top: 100px;
}
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
font-weight: 700;
}
.box-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 540px;
    width: 460px;
    margin-top: 50px;
}
.image-1{
    height: 420px;
    width: 310px;
    margin-top: 120px;
 }
.text{
    display: flex;
    justify-content: space-between ;
    padding: 0px 380px 0px 380px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
.box-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 540px;
    width: 460px;
    margin-top: 50px;
}
.image-2{
    height: 370px;
    width: 370px;
    margin: 125px 45px 45px 45px;
}
.box-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 540px;
    width: 460px;
    margin-top: 50px;
}
.image-3{
    height: 420px;
    width: 310px;
    margin-top: 120px;
}
.section-1{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 240px 0px 240px;
}
.offer-section{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}
.section-2{
    display: flex;
    justify-content: space-around;

}
.section-2-left{
    padding: 230px 200px 160px 200px;
    align-items: flex-start;
}
.offer-section button{
    margin-left: 200px;
}
.image-4{
    height: 420px;
    width: 320px;
}
.section-2-right{
    padding: 200px 200px 200px 0px ;
}
.paragraph-3{
    text-align: center;
    width: 590px;
}
.offer-title{
    width: 590px;
    margin-left: 120px;
}
.instagram-title{
    text-align: center;
    margin-top: 100px;
}
.section-3{
    text-align: center;
}
.instagram-images{
    padding: 10px 240px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.image-5{
    height: 390px;
    width: 340px;
}